sudo systemctl daemon-reload
docker exec -it <%= @cluster_owner %>.cache.gateway tail -f /var/log/squid/access.log
journalctl -xe
journalctl -l
systemctl list-unit-files
systemctl cat puppet.service
docker exec -it puppet.service puppet agent -t
sudo docker rm -f puppet.service
etcdctl cluster-health
etcdctl member list
ETCDCTL_API=3 etcdctl endpoint --cluster health
docker exec -it {{ cluster_owner }}.ceph_mon.service bash -c 'ceph --admin-daemon /var/run/ceph/ceph-*asok mon_status'
ceph health detail
ceph osd pool stats
ceph osd pool ls
ceph pg dump all
kubectl get all --all-namespaces --show-all=true -o=wide
